<!DOCTYPE html> <html lang="en">   <head>     <%- include('partials/_head', { title }) %>   </head>   <body>     <header>       <%- include('partials/_nav') %>     </header>     <main class="container">       <%- body %>     </main>     <footer>       <%- include('partials/_footer') %>     </footer>   </body> </html>
<script>
  document.querySelector('.menu-toggle').addEventListener('click', () => {
    document.querySelector('.nav-links').classList.toggle('show');
  });
</script>
