<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head', { title }) %>
  </head>
  <body>
    <header>
      <%- include('../partials/_nav') %>
    </header>

    <main class="container">
      <h1>Welcome to <%= about %> Page!</h1>
      <p>this is the about</p>
    </main>

    <footer>
      <%- include('../partials/_footer') %>
    </footer>
  </body>
</html>