<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head', { title }) %>
  </head>
  <body>
    <header>
      <%- include('../partials/_nav') %>
    </header>

    <main class="container">
      <h1>About Arizona Beverages</h1>
      <p>Arizona Beverages is known for delicious drinks at affordable prices. Our mission is to refresh and inspire.</p>
      <p>We focus on quality ingredients, bold flavors, and the American dream of independent business.</p>

    </main>

    <footer>
      <%- include('../partials/_footer') %>
    </footer>
  </body>
</html>