<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head', { title }) %>
  </head>
  <body>
    <header>
      <%- include('../partials/_nav') %>
    </header>

    <main class="container">
      <h1>Welcome to Arizona Beverages</h1>
      <p>Refreshing the world since 1992. Explore our iconic teas, juices, and energy drinks.</p>
      <a href="/items" class="btn">Explore Our Products</a>
    </main>

    <footer>
      <%- include('../partials/_footer') %>
    </footer>
  </body>
</html>
